.forgot_password_link{
    margin-top: 38px;
    overflow: hidden;
    padding: 0 !important;
    width: 350px !important;
}
.forgot_password_link a{
    color: #b00;
    text-decoration: none;
}
.forgot_password_link a:hover{
    text-decoration: underline;
}
#login_area_bg{
    height: 400px !important;
}
#notice {
    margin: 0 !important;
    width: 502px !important;
}
#notice-box {
    margin: 20px 52px !important;
    overflow: hidden;
    width: 510px !important;
}
#submit_area input {
    margin-top: 0 !important;
}

/*danil fixes*/

.navbar-inner {
    background-color: #3d5c9c; /* background color will be black for all browsers */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
    min-height: 75px;
}

.form-signin {
    max-width: 400px;
    padding: 19px 29px 29px;
    margin: 100px auto 20px;
    background-color: #eee;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 36px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.input-append .add-on,
.input-prepend .add-on {
    height: 49px;
    min-width: 32px;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
}
.input-login {
    width: 354px;
}
a.logo_link{
    background: #3d5c9c url(/images/login/logo.jpg) no-repeat;
    width: 307px;
    height: 75px;
    display: block;
    text-indent: -9999px;
}
